/*  */

.tabs {
    max-width: 90%;
    float: none;
    list-style: none;
    padding: 0;
    margin: 75px auto;
}
.tabs:after {
    content: '';
    display: table;
    clear: both;
}
.tabs input[type=radio] {
    display:none;
}
.tabs label {
    display: block;
    float: left;
    width: 20%;
    color: #ccc;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    border-bottom: 10px solid rgba(0,0,0,0.4);
}
.tabs label span {
    display: none;
}
.tabs label:hover {
    color: rgba(0,0,0,0.7);
    border-bottom: 10px solid rgba(0,0,0,0.7);
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 3% 3% 3% 3%;
    box-sizing: border-box;
    color: black;
    background-color: white;
}

.tabs [id^="tab"]:checked + label {
    background: rgba(0,0,0,0);
    border-bottom: 10px solid white;
    color: rgba(0,0,0,0.7);
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4,
#tab5:checked ~ #tab-content5 {
    display: block;
}

@media (min-width: 768px) {
    .tabs label span {
        display: inline-block;
    }
    .tabs {
    max-width: 90%;
    margin: 50px auto;
    }
}

a {
    color: rgba(0,0,0,0.7);
    font-weight: bold;
}

.emphasis {
    font-weight: bold;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.face {
  width: 300px;
  height: 300px;
  background: url("fac§e.jpg") center no-repeat;
  background-size: 300px 300px;
  -webkit-clip-path: circle(150px at center);
  clip-path: circle(150px at center);
  margin: 2% auto;
}

.tiklogo {
    width: 25px;
    height: 25px;
    background: url("tik.png") center no-repeat;
    background-size: 25px 25px;
}

.jumbotron {
    background-color: rgba(0,0,0,0);
}

body {
    background-color: rgba(0,0,0,0.7);
}