.tabs {
  max-width: 90%;
}

.tabs:after {
  content: '';
  display: table;
  clear: both;
}

.tabs input[type=radio] {
  display:none;
}

.tabs label {
  display: block;
  float: left;
  width: 20%;
  color: rgba(69,112,128,0.6);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  line-height: 2;
  border-bottom: 10px solid rgba(69,112,128,0.6);
}
.native {
  display: none;
}
.mobile {
  display: inline-block;
}
.tabs label:hover {
  color: rgba(69,112,128,1);
  border-bottom: 10px solid rgba(69,112,128,1);
}
.tab-content {
  display: none;
  width: 100%;
  float: left;
  padding: 3% 3% 3% 3%;
  box-sizing: border-box;
  color: black;
  background-color: rgb(168,200,201);
}

.tabs [id^="tab"]:checked + label {
  background: rgba(0,0,0,0);
  border-bottom: 10px solid rgb(168,200,201);
  color: rgba(69,112,128,0.2);
}

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4,
#tab5:checked ~ #tab-content5 {
  display: block;
}

@media (min-width: 768px) {
  .native {
    display: inline-block;
  }
  .mobile {
    display: none;
  }
  .tabs {
    max-width: 90%;
    margin: 50px auto;
  }
}

.face {
  width: 300px;
  height: 300px;
  background: url("face.jpg") center no-repeat;
  background-size: 300px 300px;
  -webkit-clip-path: circle(150px at center);
  clip-path: circle(150px at center);
  margin: 2% auto;
}

.tiklogo {
  width: 25px;
  height: 25px;
  background: url("tik.png") center no-repeat;
  background-size: 25px 25px;
}

tr {
  background-color: rgb(168,200,201);
}

h2 {
  font-size: 8vw;
  text-transform: uppercase;
  color: rgba(69,112,128,1);
  font-weight: bold;
}

.title {
  color: rgba(69,112,128,1);
}

a {
  color: rgba(69,112,128,1);
  font-weight: bold;
}

.emphasis {
  font-weight: bold;
}

.jumbotron {
  background-color: rgb(191,222,220);
}

body {
  background-color: rgb(191,222,220);
}